.FieldButton {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
}
.GameBoard {
    gap: 0 !important;
    height: 100vh;
}
.GridColumn {
    padding: 0 !important;
}
.GridRow {
    height: stretch !important;
}
